/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da Página */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #000;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block; /* Corrigido para bloco */
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header .logo img {
    max-width: 600px; /* Logo maior */
    height: auto;
}

header .logo p {
    font-size: 1.2em;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Alinhar centralizado */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seção Inicial */
.hero {
    background-color: #555; /* Cor cinza */
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    background-color: #555; /* Cor cinza */
    color: #000; /* Texto preto */
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333;
    color: white;
}

/* Seção Sobre */
.sobre {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.sobre h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Seção Áreas de Atuação */
.areas {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.areas h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.areas ul {
    list-style-type: none;
    padding: 0;
}

.areas ul li {
    font-size: 1.3em;
    margin: 20px 0;
    line-height: 1.8;
}

/* Seção Contato */
.contato {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
}

.contato input, .contato textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contato button {
    background-color: #555; /* Cor cinza */
    color: #000; /* Texto preto */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.contato button:hover {
    background-color: #333;
    color: white;
}

/* Rodapé */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
