<web-app>
    <servlet>
        <servlet-name>contatoServlet</servlet-name>
        <servlet-class>ContatoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contatoServlet</servlet-name>
        <url-pattern>/contatoServlet</url-pattern>
    </servlet-mapping>
</web-app>
